<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/infoUser">
        <label for="Nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="Nome" placeholder="Inserisci il Nome del Cliente" name="Nome">

        <label for="Cognome" class="form-label">Cognome:</label>
        <input type="text" class="form-control" id="Cognome" placeholder="Inserisci il Cognome del Cliente" name="Cognome">

        <input type="submit" value="Clicca qui"></input>
    </form>
</body>
</html>