<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="/opzione" method="get">  

    <input type = "radio" name = "scelta" value="es1">es1<br>
    <input type = "radio" name = "scelta" value="es2">es2<br>
    <input type = "radio" name = "scelta" value="es3">es3<br>
    <input type = "radio" name = "scelta" value="es4">es4<br>
    <p><input type = "submit" value = "Submit" /></p>
    
</form>
</body>
</html>